.team-img {
    height: 450px !important;
}

.person-img {
    height: 246px !important;
}

.container80 {
    width:80% !important;
}

.product-img20 {
    width:250px !important;
    height: 250px !important;
}

.news-list100 {
    width: 100%;
}

.news-create-time {
    float: right;
}